*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.max-width{
    width: 1200px;
    margin: auto;
}
.header {
    background: #3498db;
   
}
.header-left {
    float: left;
    width: 30%;
}
.header-left img{
    width: 200px;
    height: auto;

}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
   float: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-right ul li:first-child a{
    border-left: 1px solid #fff;
}
.header-right ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    line-height: 74px;
    border-right: 1px solid #fff;
    transition: .5s;

}
.header-right ul li a:hover{
    background: #2980b9;
}
.bannar{
    background: url(https://i.ibb.co/nRj9Gnd/bannar.jpg) no-repeat center;
    padding: 200px 0;
    background-size: cover;
    background-attachment: fixed;
}

.bannar-text h1 {
	background: rgba(52, 152, 219, .5);
	color: #fff;
	max-width: 500px;
	margin: auto;
	font-size: 34px;
	padding: 10px 0px;
	margin-top: 20px;
	border-radius: 5px;
    cursor: pointer;
}
.bannar-text h2 {
	background: rgba(0, 0, 0, .4);
	color: #fff;
	font-size: 34px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
    cursor: pointer;
}
.about {
    margin-top: 60px;
}
.about h2 {
	margin-bottom: 20px;
	font-size: 30px;
	
}
.about p {
	max-width: 700px;
	margin: auto;
	font-size: 20px;
}
.service{
    margin-top: 60px;
}
.service-item{
    width: 31.3%;
    float: left;
    border: 1px solid #ddd;
    padding: 25px 10px;
    box-sizing:border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.service-item span i{
	display: block;
	height: 60px;
	width: 60px;
	background: #3498db;
	color: #fff;
    font-size: 34px;
	margin: auto;
	line-height: 60px;
	border-radius: 20px 0 20px 0;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}

/* contant */
.contant{
    margin: 60px 0;
}
.contant-left{
    float: left;
    width: 70%;
}
.contant-right{
    float: right;
    width: 25%;
}
.contant-item{
    margin: 40px 0;
}
.contant-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 15px;
}
.contant-right h2 {
    font-size: 30;
    border-bottom: 1px solid #ddd;
    margin: 10px;
    padding: 6px;
}
.contant-right ul{
    list-style: none;
}
.contant-right ul li {
    border: 1px solid #ddd;
    background: #fafafa;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
 
.footer{
    background: #2c3e50;
    color: #fff;
    padding: 10px 0;
}
.footer-left{
    float: left;
    width: 60%;
    font-size: 25px;
}
.footer-right{
    float: right;
    width: 40%;
    font-size: 20px;
}

.social-menu{
    text-align: right;
}
.social-menu li{
    display: inline-block;
    
}
.social-menu li a{
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}


